header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;

  width: 100%;

  text-align: center;
}

.title {
  font-size: 6rem;
  margin: 0;
  padding: 1%;

  min-width: fit-content;
  font-family: 'Caveat', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3%;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.top,
.bottom > p,
span {
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
}

.button {
  font-style: italic;
}

.button:hover {
  cursor: pointer;
  color: coral;
}
