html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 1%;
  min-height: 100vh;
  height: 100%;
  color: #eee;
  background-color: #df367c;
}

.App * {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: lowercase;
  filter: drop-shadow(1px 1px 0 darkslategray);
}
