html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 1%;
  min-height: 100vh;
  height: 100%;
  color: #eee;
  background-color: #333;
}

.App * {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}

.form {
  display: flex;
  width: 20vw;
  gap: 1%;
  justify-content: flex-start;
}

.form > * {
  min-width: fit-content;
  width: 50%;
  margin: 0;
}

.list {
  display: flex;

  padding: 0;
  gap: 5%;

  width: 30vw;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px solid #eee;
  border-radius: 9px;
  gap: 1%;
  width: max-content;
  align-items: center;
  text-align: center;
  min-width: 150px;
  width: 10vw;
}

.header {
  padding: 0;
  margin: 0;
  width: 10vw;
}

.emoji {
  font-size: 4rem;
  margin: 0;
}

.buttons {
  margin: 10px;
}

.buttons > * {
  height: 2rem;
  min-width: fit-content;
  width: 3vw;
  border-radius: 3px;
}
